.container {
  position: relative;
  border: 1px solid var(--text-muted);
  border-top: 3px solid var(--primary-color);
  padding: 16px;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    color: var(--text-muted);
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    h1 {
      font-size: 20px;
      font-weight: bold;
    }

    a {
      display: flex;
      align-items: center;
      font-size: 12px;
      font-weight: bold;
      text-decoration: none;
      color: var(--text-muted);

      .title {
        margin-right: 10px;
      }
    }
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 16px;
      
    .card-content {
      padding: 16px 10px;
      cursor: pointer;
      display: flex;
      align-items: center;

      .card-avatar {
        margin-right: 10px;
        cursor: pointer;
      
        .remove {
          background-color: var(--white-color);
        }
        
        .add {
          color: var(--primary-color);
          background-color: var(--white-color);
        }
      }
      
      .card-text {
        display: flex;
        flex-direction: column;
        font-size: 16px;
      
        .title {}
        .summary {
          max-width: 140px;
          font-weight: bold;
        }

        .add { color: var(--primary-color); }
      }
    }
  }

  .all {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    font-size: 13px;
  }
}


@media screen and (max-width: 768px) {
  .container {
    
    .header {
      a {
        .title {
          display: none;
        }
      }
    }
    
    .cards {
      display: grid;
      grid-template-columns: 1fr;

      .card-content {
        padding: 10px;
      }

    }
  }
}