* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  --primary-color: #007672;
  --secondary-color: #e2f4ea;
  --accent-color: #ff8f1d;
  --white-color: #fff;

  --text-muted: #999999;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.remove { color: var(--accent-color); }